# exclude everything except for vscode settings
/*
!.gitignore
!dconf
!/Code
/Code/*
!/Code/User
/Code/User/*
!/Code/User/settings.json
!/sublime-text-3
/sublime-text-3/*
!/sublime-text-3/Packages
/sublime-text-3/Packages/*
!/sublime-text-3/Packages/User
/sublime-text-3/Packages/User/*.cache
/sublime-text-3/Packages/User/*.last-run
