[Unit]
Description=Restic Backup
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/restic-backup / /run/media/d4/Nusquama/fw-repo
ExecStart=/usr/local/bin/restic-backup /home /run/media/d4/Nusquama/fw-repo
# No timeout since backups might take a while
TimeoutStartSec=0

[Install]
WantedBy=default.target
